{
  "annuaire": {
    "description": "{{ laclasse_services.annuaire.description }}",
    "title": "{{ laclasse_services.annuaire.title }}",
    "app_id": "{{ laclasse_services.annuaire.app_id }}",
    "path": "{{ laclasse_services.annuaire.path }}",
    "version": {
      "asked": {{ laclasse_annuaire_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
